.container{
    width: 90%;
    height: 70px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left:5%;
    margin-right: 5%;
    
}

.first{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.second{
    display: flex;
    justify-content: space-around;
    gap: 20px;
     font-size: 20px ;
   
}
button{
    padding: 10px;
    color: white;
    background-color: rgb(236, 27, 27);
    border-radius: 7px;
    border-style: none;


}